<form [formGroup]="form">
  <div class="form-group">
    <label for="oldpwd">Old password</label>  
    <input 
      formControlName="oldpwd"
      id="oldpwd"
      name="oldpwd"
      type="text"
       class="form-control">
    <div *ngIf="oldpwd.invalid && oldpwd.touched" class="alert alert-danger">
      <div *ngIf="oldpwd.errors.required">Old password is required</div>      
    </div>   
  </div>
  <div class="form-group">
    <label for="newpwd">Nuevo password</label>  
    <input 
      formControlName="newpwd"
      id="newpwd"
      name="newpwd"
      type="text"
      class="form-control">   
    <div *ngIf="newpwd.invalid && newpwd.touched" class="alert alert-danger">
      <div *ngIf="newpwd.errors.required">New password is required</div>      
    </div>
  </div>
  <div class="form-group">
    <label for="repeatpwd">Repeat password</label>  
    <input 
      formControlName="repeatpwd"
      id="repeatpwd"
      name="repeatpwd"
      type="text"
      class="form-control">  
    <div *ngIf="repeatpwd.invalid && repeatpwd.touched" class="alert alert-danger">
      <div *ngIf="repeatpwd.errors.required">Repeat password is required</div>      
    </div>       
  </div>
</form>
