<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!--
<courses></courses>
<app-authors></app-authors>
<favorite></favorite>
<inputcase></inputcase>
<app-ng-directive></app-ng-directive>
<app-ng-class></app-ng-class>
<app-ng-style></app-ng-style>
<app-traversaloperator></app-traversaloperator>
<input type="text" [appCustomdirective]="'lowercase'">
<app-contact-form></app-contact-form>
<app-custom-form></app-custom-form>
<signup-form></signup-form>
<app-resetpassword></app-resetpassword>
<app-posts-component></app-posts-component>
<app-followers></app-followers>
-->